<!--  Menu NavBar -->
<app-navbar></app-navbar>


<!--FORMS CREATE KITTENS-->

<div class="container">

  <h1>Create your kittens</h1>

  <form>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required>
    </div>

    <div class="form-group">
      <label for="alterEgo">Race</label>
      <input type="text" class="form-control" id="race">
    </div>

    <div class="form-group">
        <label for="alterEgo">Born</label>
        <input type="text" class="form-control" id="born">
    </div>

    <div class="form-group">
        <label for="alterEgo">Photo</label>
        <input type="text" class="form-control" id="photo">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>

<app-footer></app-footer>
