<div class="main">

  <!--CARD FOR ADOPTED CAT PRESENTATION-->
  
    <div *ngFor="let cat of listKittenAdopted" class="card" style="width: 18rem;">
        <img class="card-img-top" src={{cat.photo}} alt="Card image cap">
        
        <div class="card-img-overlay">
            
            <h3 class="card-title">{{cat.name}}</h3>
        
            <h5 class="card-text">{{cat.race}}</h5>
            
            <h5 class="card-text">{{cat.born}}</h5>
        
        </div>  

        <div class="card-body">

            <h3 class="card-title">{{cat.name}}</h3>
            
        </div>

    </div>
    
</div>