

<nav class="navbar navbar-expand-lg navbar-light">
      
      <ul class="navbar-nav mx-auto">
        
        <li class="nav-item">
          <a class="nav-link" [routerLink]= "['/home']">Home<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]= "['/form']">Create your kittens</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" [routerLink]= "['/list-kittens']">List-Kittens</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" [routerLink] = "['/adopt-kittens']"> My adoption</a>
        </li>
      
      </ul>

  </nav>
