@import '../../../styles/colors.scss';

.main {

    .pict1 {
        display: flex;
        justify-content: space-around;
        #black_cat {
            width: 50px;
            height: 70px;
            }
        #black_cat_running {
            width: 50px;
            height: 70px;
        }
    }

    nav {
        background-color: $mainColor;
        bottom: 0;
        width: 100%;

        .nav-item{
            padding: 0 40px;

            .nav-link {
                font-size: 1vw;
                
            }
        }
    }

}    

@media only screen and (max-width: 900px) {
.main {    
    
    nav {

        .nav-item{
            padding: 0 40px;

            .nav-link {
                font-size: 3vw;
                
            }
        }
    }
    }
}   