@import "../../../styles/colors.scss";

.main {

    .navbar{
        background-color: $mainColor;
        
        img {
            width: 50px;
            margin-left: 20px;
        }

        .nav-item{
            padding: 40px;

            .nav-link {
                font-size: 2vw;
                
            }
        }
    }

    h1 {
        margin-top: 100px;
        text-align: center;
    
    }
}

@media only screen and (max-width: 900px) {
    
.main {
    
    .navbar{

        .nav-item{
            padding: 20px;

            .nav-link {
                font-size: 5vw;
                
            }
        }
    }

    h1 {
        margin-top: 100px;
        text-align: center;
    
    }
}
}