<!--Home page with Links to the other page-->

<nav class="navbar" role="navigation" aria-label="main navigation">
  
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      
      <a class="navbar-item" [routerLink]= "['/form']">
        Create your kittens
      </a>

      <a class="navbar-item" [routerLink]= "['/list-kittens']">
        List-Kittens
      </a>

      <a class="navbar-item" [routerLink] = "['/adopt-kittens']">
          My adoption
      </a>

    </div>
  </div>
  
</nav>


<h1>Adopt your Kittens</h1>



