@import '../../../styles/colors.scss';

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card {
        background-color: $sndColor;
        margin: 15px;
        text-align: center;

        button {
            background-color: $mainColor;
            color: black;
        }
    }
}